# --- Postgres attend ces noms exacts ---
POSTGRES_USER=tcr_admin
POSTGRES_PASSWORD=super_password_secret
POSTGRES_DB=tcr_database

# --- pgAdmin attend ces noms exacts ---
PGADMIN_DEFAULT_EMAIL=ton@email.com
PGADMIN_DEFAULT_PASSWORD=tonmotdepasse

# --- NestJS et TypeORM attendent l'URL complète ---
DATABASE_URL=postgresql://tcr_admin:super_password_secret@postgres:5432/tcr_database